
ACM/ACM.BL/obj/ACM.BL.csproj.nuget.dgspec.json
ACM/ACM.BL/obj/ACM.BL.csproj.nuget.g.props
ACM/ACM.BL/obj/ACM.BL.csproj.nuget.g.targets
ACM/ACM.BL/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ACM/ACM.BL/obj/Debug/net5.0/ACM.BL.AssemblyInfo.cs
ACM/ACM.BL/obj/Debug/net5.0/ACM.BL.AssemblyInfoInputs.cache
ACM/ACM.BL/obj/Debug/net5.0/ACM.BL.assets.cache
ACM/ACM.BL/obj/Debug/net5.0/ACM.BL.csprojAssemblyReference.cache
ACM/ACM.BL/obj/Debug/net5.0/ACM.BL.GeneratedMSBuildEditorConfig.editorconfig
ACM/ACM.BL/obj/project.assets.json
ACM/ACM.BL/obj/project.nuget.cache
